.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    position: sticky;
    top:0;
    z-index: 100;
    background: white;
}

.header__left{
    justify-content: center;
    margin-left: 20px;
}

.header__logo {
    height: 23px;
    object-fit: contain;
    margin-left: 5px;
}


/*.header__input {
    display: flex;
    align-items: center;
    width: 45%;
    border: 1px solid lightgray;
}*/
.header__input > input {
    flex: 1;
    border:none;
    

}
.header__input > input:focus, textarea:focus, select:focus{
    outline: none;
}
.header__searchIcon{
    width: 43px !important;
    background-color: #fafafa;
    border-left: 1px solid lightgray;
    color: grey;
    cursor: pointer;
    padding: 3px 0px;
}


.header__icons{
    
    display: flex;
    align-items: center;
    
}
.header__icon{
    margin-right: 5px;
    font-size: 22px !important;
    color: rgb(78, 76, 76);
}
.avatar{
    font-size: small !important;
}